body, html ,.app{
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.left{
    background: #c0c0c0
}
.right{
    background: #f8f8f8
}
div>.content{
    min-height: 100% ;
}

.title{
    color: white;
    /* float:  right; */
    margin-right: 20%;
    margin-left:17rem;
    font-weight: 900;
    min-width: 17rem;
}